# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_LPGALAXY_LE_ZAPYBARA=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable during calibration. should be disable in production
CONFIG_LOG=y
CONFIG_ZMK_LOG_LEVEL_DBG=y
CONFIG_LOG_PRINTK=y
CONFIG_LOG_MODE_DEFERRED=y  # Critical for ISR safety

# enable GPIO
CONFIG_PINCTRL=y
CONFIG_GPIO=y
CONFIG_ADC=y

# battery reporting
CONFIG_ZMK_BATTERY_REPORTING=n

CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

# Don't use for now, until the accelerometer waker is working.
CONFIG_ZMK_SLEEP=n
#CONFIG_ZMK_IDLE_TIMEOUT=5000
#CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=300000

# flash memory config
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y


# shell command auto complete
CONFIG_SHELL=y
CONFIG_SHELL_TAB=y
# enable print functions
CONFIG_PRINTK=y

# enable I2C
CONFIG_I2C=y  
CONFIG_I2C_NRFX=y