#include <physical_layouts.dtsi>

/* write a layout with all the keys */
/* then define layouts with less keys and reference the full key layout */
/* If keyboard has multiple layouts, define multiple matrix transformations and multiple physical layouts, one for each layout */

/ {

    layout_0: layout_0 {
        compatible = "zmk,physical-layout";
	    display-name = "Standard";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            ;
    };
    position_map {
        compatible = "zmk,physical-layout-position-map";

        layout_0 {
            physical-layout = <&layout_0>;
            positions = <>;
        };
    };
};

&layout_0 {
    transform = <&transform>;
};