/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/* #undef ZMK_BEHAVIORS_KEEP_ALL   not enabling all behaviors, it works, add the #! */
/* #define ZMK_BEHAVIORS_KEEP_KT */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>  /* this needed to enable output toggle */

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A  &kp N1  &kp N2  &kp N3
                &kp S &kp Q   &kp W   &kp E
            >;
        };

        FN_layer {
            bindings = <
                &kp P  &kp L  &kp R  &kp G
                &kp S &kp Q   &kp W   &kp E
            >;
        };

        extra1 {
            status = "reserved";
        };
    };
};
